#header {
    text-align: center;
}
form {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
li {
    margin-left: 30%;
    list-style-type: "\1F37A"
}

#chart {
    margin-left: 30%;
}